/*General*/
* {
    box-sizing: border-box;
    font-family: Montserrat;
    /* background-image: Home Page Kanan.jpg; */
}

body{
    background-color: white; 
    text-align: left;
    color: black;
    overflow-x:hidden;
} 

a:link, a:visited, a:hover, a:active {
    color: white;
  }

h1{ 
    font-family: Montserrat;
    font-style : normal;
    font-weight: 900;
    font-size: 75px;
    line-height: 87px;

    color: #141414;
}

.navbar-brand{
    font-size: 28px; 
    font-weight: 900;
}

/*Home*/
.isi{
    padding-top: 3%;
    font-weight: 500;
    font-size: 23px;
    line-height: 180%;
    color: #141414;
}

.img-fill-home {
    background-image: url('../img/Photo.png');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    height: 100%;
}

/*About Me*/
.about-bg{
    background-color: #141414;
    height: 100vh;
}

.about{
    width: 140px;
    height: 51px;
    border:2px solid #F6BB00; 
    color: white;
    box-sizing: border-box; 
    border-radius: 13px; 
    text-align: center; 
    padding-top:10px;
    margin: 120px 50px 0px 90px;
    position: absolute;
}

.isi-about{
    left: 154px;
    top: 100px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 200%;

    text-align: justify;

    color: #FFFFFF;
}
.img-about{
    left: 1000px;
    top: 50px;
}


/*Experiences*/
.exp-bg{
    background-color: #222222;
    height: 100vh;
}
.navbar {
    background-color: transparent !important;
}
.show .navbar-nav .nav-item{
    color: #141414
}

.nav-link {
    color: inherit!
}
.about-exp-edu{
    width: 193px;
    height: 51px;
    border:2px solid #F6BB00; 
    color: white;
    box-sizing: border-box; 
    border-radius: 13px; 
    text-align: center; 
    padding-top:10px;
    margin: 120px 50px 0px 90px;
    position: absolute;
}

.img-exp{
    width: 619px;
    height: 629px;
    left: 1010px;
    top: 34px;
}

/*row 1*/
.strip-1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 212.5%;

    color: white;
}
ul {
    margin: 0;
  }
  ul.dashed {
    list-style-type: none;
  }
  ul.dashed > li {
    text-indent: -5px;
  }
  ul.dashed > li:before {
    content: "-";
    text-indent: -5px;
  }
.judul1{
  

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300px;
    font-size: 20px;
    line-height: 40px;

    color: #F6BB00;
}

.desc1{
 

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    margin-left: 3.5%;
    color: #FFFFFF;
}

.judul2{


    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;

    color: #F6BB00;
}

.desc2{

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;

    color: #FFFFFF;
}

.judul3{


    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;

    color: #F6BB00;
}

.desc3{


    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;

    color: #FFFFFF;
}

/*Row 2*/
.strip-2{


    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 212.5%;
 

    color: #FFFFFF;
}

.judul4{


    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;

    color: #F6BB00;
}

.desc4{


    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;

    color: white;

}

.judul5{


    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;

    color: #F6BB00;
}

.desc5{
 

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;

    color: #FFFFFF;
}

.judul6{


    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;

    color: #F6BB00;
}

.desc6{


    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;

    color: #FFFFFF;
}


/*Educational Info*/
.edu-bg{
    height: 100vh; 
    background-color: #303030;
}

.img-edu{
    width: 859px;
    height: 593px;
    left: 760px;
    top: 50px;
}

.strip-3{
    left: 154px;
    top: 199px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 55px;

    color: white;
}

.strip-4{
    left: 154px;
    top: 395px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 45px;

    color: white;
}


.judul7{
    left: 191px;
    top: 203px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;

    color: #F6BB00;
}

.desc7{
    left: 191px;
    top: 240px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;

    color: #FFFFFF;
}

.judul8{
    left: 191px;
    top: 315px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;

    color: #F6BB00;
}

.desc8{
    left: 191px;
    top: 352px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;

    color: #FFFFFF;
}

.judul9{
    left: 191px;
    top: 400px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;

    color: #F6BB00;
}

.desc9{
    left: 191px;
    top: 437px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;

    color: #FFFFFF;
}

.judul10{
    left: 191px;
    top: 490px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;

    color: #F6BB00;
}

.desc10{
    left: 191px;
    top: 527px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;

    color: #FFFFFF;
}


/*Skills*/
.skills-bg{
    height: 100vh; 
    background-color: #434343;
}

.bar{
    padding-left : 11.5%;
    padding-right: 8%;
    padding-top: 14%;
} 

.container {
    padding-left : 0px;
    width: 100%;
    /* background-color: #AFAFAF; */
}

.skills {
  text-align: right;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 11px;
}

.Microsoft {width: 92%; background-color: #2C2B2B;}
.Adobe {width: 83%; background-color: #2C2B2B;}
.Figma {width: 78%; background-color: #2C2B2B;}
.Programming {width: 45%; background-color: #2C2B2B;}
.English {width: 90%; background-color: #2C2B2B;}
.Communication {width: 85%; background-color: #2C2B2B;}
.Problem {width: 74%; background-color: #2C2B2B;}
.Teamwork {width: 87%; background-color: #2C2B2B;}


/*Reach*/
.about-reach{
    width: 104px;
    height: 51px;
    border:2px solid #F6BB00; 
    color: white;
    box-sizing: border-box; 
    border-radius: 13px; 
    text-align: center; 
    padding-top:10px;
    margin: 120px 50px 0px 90px;
    position: absolute;
}

.reach-bg{
    height: 100vh; 
    background-color: #F6BB00;
}

.social{

    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 73px;

    color: white;
}

.logo{
    color: white;

    width: 46px;
    height: 44px;
    line-height: 68px;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    h1{
        font-size: 55px;
        line-height:100%;
    }

    .isi{
        font-size: 15 px;
        line-height: 140%;
    }


  }


.edu-list {
    margin-left: 8%;
}