{% extends '_parsials/master.html' %}
{% load static %}

    {% block content %}
    <body style="background-color: #141414"
      <div class="about-bg">
        <div class="about">About Me</div>  

        <div class="container">
            <div class="row">
                <div class="col-md-5" >
                    <!-- row 1 -->
                    <ul class="dashed" style="margin-top:50%;">
                        <p class="isi-about">My name is Wulan Febyazzahra Putri, but people mostly know and call me as Bulan. 
                            I was born in Jakarta on February 4th 2000. I’m an IT student in Universitas Indonesia majoring in information system.<br><br>
                            I’m hardworking, dedicated, and willing to learn something quickly. I constantly try to make the best of it in everything i do.</p>
                    </ul> 
                  </div>

                <div class="col-md-4" style="left: 25%; margin-top:2.9%">
                <div class="img-about">
                    <img src="{% static 'img/Hello.png' %}"alt="Hello">
                  </div>
                </div>
            </div>
        </div> 
        </body>
        {% endblock %}
