{% extends '_parsials/master.html' %}
{% load static %}

{% block content %}
  <body style="background-color: #303030"
      <div class="edu-bg">
        <div class="about-exp-edu">Educational Info</div>  
        <div class="row">
            <div class="col-md-4 edu-list" >
                <!-- row 1 -->
                <ul class="dashed" style="margin-top:49%;">
                  <li class="judul7">
                      Universitas Indonesia                    
                    <p class="desc7">
                      COMPUTER SCIENCE<br>Majoring in Information System</p>
                  </li>
                  <li class="judul8">
                      SMAN 70 Jakarta
                      <p class="desc8">2015 - 2018</p>
                  </li>
                  <li class="judul9">
                     SMP Labschool Kebayoran
                      <p class="desc9">2012 - 2015</p>
                  </li>
                  <li class="judul10">
                      SD An-nisaa’ Pondok Aren
                      <p class="desc10"> 2006 - 2012</p>

                  </li>
                </ul> 
              </div>
            <div class="col-md-4" style="left: 15%; margin-top: 4%">
            <div class="img-exp">
                <img src="{% static 'img/Asset2.png' %}"alt="Experiences">
              </div>
            </div>
      </div>
      </body>
      {% endblock %}

