{% extends '_parsials/master.html' %}
{% load static %}
    {% block content %}
    <body style="background-color: #22222"
      <div class="exp-bg">
        <div class="about-exp-edu">Experiences</div>  
        <div class="container">
            <div class="row">
                <div class="col-md-4" >
                    <!-- row 1 -->
                    <ul class="dashed" style="margin-top:60%;">
                      <li class="judul1">
                        Public Relation Intern
                        <p class="desc1">R&R Public Relations<br>July 2019 - August 2019</p>
                      </li>
                      <li class="judul1">
                          Staff of Public Relation
                          <p class="desc1">DPM Fasilkom UI<br>March 2019 - Present</p>
                      </li>
                      <li class="judul1">
                         PIC of Visual Design
                          <p class="desc1">COMPFEST<br>January 2019 - Present</p>
                      </li>
                    </ul> 
                  </div>
          
                  <div class="col-md-4" >
                    <!-- row 2  -->
                    <ul class="dashed" style="margin-top:60%;">
                      <li class="judul4">
                          Liaison Officer                        
                      <p class="desc4">Wisuda Ganjil Fasilkom UI 2019<br>January 2019 - January 2019</p>
                      </li>
                      <li class="judul5">
                          Liason Officer                          
                          <p class="desc5">Wisuda Genap Fasilkom UI 2019<br>August 2019 - August 2019</p>
                      </li>
                      <li class="judul6">
                          Head of Vocal Group
                          <p class="desc6">Vocal Group SMAN 70 Jakarta<br>January 2017 - June 2018</p> 
                      </li>
                    </ul> 
                </div>

                <div class="col-md-4" style="left: 10%; margin-top:2.9%">
                <div class="img-exp">
                    <img src="{% static 'img/Asset1.png' %}"alt="Experiences">
                  </div>
                </div>
            </div>
        </div>   
        </body>       
      {% endblock %}
