{% extends '_parsials/master.html' %}
{% load static %}
    {% block content %}
     <div class="container-fluid" style="height: 100vh;">
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row" style="height: 100vh">
          <div class="col-md-7" >
            <div  style="margin: 150px 50px 0px 90px;">
              <h1>HELLO,</h1>
              <h1 style = "color:#FFAE00">I'M BULAN.</h1>
              <!-- <div class="about">About Me</div>   -->
              <p class="isi">IT student in Universitas Indonesia focused in information system.</p>
                <a href="/about"><img src="{% static 'img/AboutMe.png' %}"alt="Experiences">
                </a>
            </div>
          </div>
          
          <div class="col-md-5" style="background-color: #F6BB00; height: 100vh;">
            <div class="img-fill-home">
            </div>
          </div>
         </div>  
      </div>
    {% endblock %}
