{% extends '_parsials/master.html' %}
      {% block content %}
      <body style="background-color:#F6BB00">
          <div class="row">
              <div class="col-md-5 edu-list" >
                  <div class="reach-bg">
                      <h1 style = "color: #141414; padding-top: 160px; padding-left: 28px">REACH ME.</h1>    
                      <div class="logo" style="padding-left:13%; padding-top:3%">
                          <i class="fab fa-twitter fa-3x"></i>
                          <i class="fab fa-instagram fa-3x"></i>
                          <i class="fab fa-facebook-f fa-3x"></i>
                          <i class="fas fa-envelope fa-3x"></i>
                        </div>      
                  <div class="social" style="margin-top:-7%; padding-left:30%">
                      <p>bulanfeb_<br>
                        bulanfeb<br>
                        bulan febyazzahra<br>
                        bulanfebyazzahrap@gmail.com
                      </p>
                    </div>
            
                    
              </div>
          </div>
          </div>
        </body>
      {% endblock %}

