{% extends '_parsials/master.html' %}


    {% block content %}
      <div class="skills-bg">
        <div class="about-reach">Skills</div>
        <div class = "bar">
            <p style="color:white; margin-bottom: 4px; font-size: 16px">-   Microsoft (Word, Powerpoint, Excel)</p>
            <div class="container">
                <div class="skills Microsoft"></div>
            </div>
            
            <p style="color:white; margin-bottom: 4px; font-size: 16px">- Adobe Illustrator & Photoshop</p>
            <div class="container">
                <div class="skills Adobe"></div>
            </div>

            <p style="color:white; margin-bottom: 4px; font-size: 16px">- Figma</p>         
            <div class="container">
                <div class="skills Figma"></div>
            </div>

            <p style="color:white; margin-bottom: 4px; font-size: 16px">- Programming</p>                
            <div class="container">
                <div class="skills Programming"></div>
            </div>

            <p style="color:white; margin-bottom: 4px; font-size: 16px">- English</p>
            <div class="container">
                <div class="skills English"></div>
            </div>

            <p style="color:white; margin-bottom: 4px; font-size: 16px">- Verbal and written communication</p>
            <div class="container">
                <div class="skills Communication"></div>
            </div>

            <p style="color:white; margin-bottom: 4px; font-size: 16px">- Problem solving skill</p>
            <div class="container">
                <div class="skills Problem"></div>
            </div>

            <p style="color:white; margin-bottom: 4px; font-size: 16px">- Able to work in team</p>
            <div class="container">
                <div class="skills Teamwork"></div>
            </div>                 
      </div>  
      {% endblock %}