{% load static %}
<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:500,900' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css' rel='stylesheet'>
    <link href="{% static 'css/Tugas3.css' %}" type="text/css" rel="stylesheet">
    
    <title>Wulan Febyazzahra</title>
    </head>

    <body style="background-color: #F6BB00">     
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
          <div class="container-fluid" style= "width: 100%;">
            <a class="navbar-brand" href="{% url 'home' %}" style="color: #141414">WF.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
                <!-- <i class="fas fa-bar"></i> -->
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style ="margin-left: 50%; width: 70%">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'experiences' %}" style="color:white">Experiences</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'educational' %}" style="color:white;">Educational Info</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'skill' %}" style="color:white;">Skills</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'reach' %}" style="color:white;">Reach Me</a>
                </li>
                                <li class="nav-item">
                    <a class="nav-link" href="{% url 'schedule' %}" style="color:white;">Schedule</a>
                  </li>
              </ul>
            </div>
        </div>
          </nav>

        <div class="schedule" style="margin-top: 10%; margin-left: 6%">
          <h1> MAKE A SCHEDULE.</h1>
       </div>
              <div class="row">
              {% for schedule in schedules %}
              <div class="col-sm-4 text-left" style="margin-left: 6%">
                  <p>{{ schedule.name }}</p>
                  <p>{{ schedule.date }}</p>
                  <p>{{ schedule.time }}</p>
                  <p>{{ schedule.activity }}</p>
                  <p>{{ schedule.place }}</p>
                  <p>{{ schedule.category }}</p>

                  <div class = 'form-group'>
                          <form action="/schedule/clear/{{ schedule.id }}/" method="POST">
                              {% csrf_token %}
                              <button class="btn btn-danger" type="submit">Delete</button>
                          </form>
                  </div>
              </div>
              {% endfor %}
              </div>
          <div class = 'col-md-12' style="margin-left:5%">
              <a href="create/"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Create</button></a>
          </div>
    </body>
</html>
